body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: darkgrey;
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
}

.card {
  background: #000000d0;
  color: whitesmoke;
  padding: 2em;
  border-radius: 30px;
  max-width: 420px;
  width: 100%;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 48px;
  cursor: pointer;
  background: #7c7c7c2b;
  color: whitesmoke;
  transition: 0.15s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: whitesmoke;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 50px);
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.flex {
  display: flex;
  align-items: center;
}

.temp {
  margin-bottom: 0.4em;
}